/* --------font style----------- */

@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

/* ------common style -------*/
body{
    margin: 0, auto;
    font-family: 'Poppins', sans-serif;
}
/*---------- header style-------------- */
.header-container{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #E5E5E5;
    color: #000000;
    padding-left: 50px;
    height: 500px;
    border-radius: 20px;
}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}
.half-width h1{
    font-weight: 700;
     font-size: 4vw;
}
.button-style{
    display: flex;
    align-items: center;
    background-color:  #ff9a00;
    border: none;
    border-radius: 5px;
    color: #FFFFFF;
    padding: 5px 15px;
    font-size: 10px;
    font-weight: 700;
}
.fa-greater-than{
    margin-left: 5px;
    font-size: 8px;
}
/*---------------- main tag  style start ------------*/
.box-container{
    display: flex;
}
#box-1{
    display: flex;
    flex-direction: column;
}
#box-2{
    flex-grow: 1;
}

/* ----------footer style start------------- */
.footer-container{
    height: 180px;
    width: auto;
    background-color: #000000;
}
.footer-container h1{
    text-align: center;
    color: #FFFFFF;

}
.contactUs{
    display: flex;
    justify-content: space-around;
    font-size: 10px;
}
.contactUs a{
  text-decoration: none ;
  color: #FFFFFF;
}
.media-icon{
    display: flex;
    justify-content: space-evenly;
    color: #E5E5E5;
}